.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@mixin scallop($c) {
  @include background(
    radial-gradient($c, $c 70%, transparent 70%, transparent)
  );
  background-repeat: repeat-x;
  background-size: 20px 20px;
  background-position: 0 15px;
}


html {
   height: 100%;
} 

body {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);

  margin: 0;
  height: 100%;
  width: 100%; 
  background: #EEF2F6 url(https://static.tumblr.com/26l8vc7/q7Glbweh4/bg.jpg);
  font-family: Nunito;
  color: #888;
}