
a {
  color:#51ADED;
}
.title {
    margin-left: 5vh;
    margin-top: 20vh;
    color:black;
}
.fileUpload{
    box-shadow: 0 0 2px rgba(#000, .3);
    background-color: #EEF2F6;
    width: 300px;
    padding: 20px;
    position: relative;
    margin-left: 90vh;
    margin-top: 10vh;
}
.fileUpload h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0 5px 0;
    padding: 0;
}
 
.fileUpload progress {  
	  appearance: none;
    border: 0;
	  width: 100%; 
    height: 15px;
    color: #51ADED;
	  background-color: #ccc;
	  border-radius: 10px;
}
.fileUpload progress::-moz-progress-bar {
    background-color: #51ADED;
	  border-radius: 10px;
}
.fileUpload progress::-webkit-progress-bar {
	  background-color: #ccc;
	  border-radius: 10px;
}
.fileUpload progress::-webkit-progress-value {
	  position: relative;
    background-color: #51ADED;
	  border-radius:10px;
}
.fileUpload  p {
    font-size: 80%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.fileUpload .fileElem {
    @include box-sizing(border-box);
    width: 300px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    height: 50px;
    cursor: pointer;
    
}
.fileUpload .fileSelect {
    @include box-sizing(border-box);
    display: inline-block;
    text-align: left;
    padding-left: 110px;
    width: 190px;
    height: 50px;
    background-color: #51ADED;
    border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,.1);
    position: relative;
    font-size: 20px;
    line-height: 50px;
    color: white;
    
}
