.btn-component-wrap {
    @include box-sizing(border-box);
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 250px;
    height: 50px;
    background-color: #51ADED;
    border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,.1);
    position: relative;
    font-size: 20px;
    line-height: 50px;
    color: white;
    cursor: pointer;
  }

.btn-component-wrap:hover {

}
